* {
    box-sizing: border-box;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #AE1332;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
}

.steps {
    padding-top: 80px;
    padding-bottom: 80px;
}

.steps-container {}


.steps-title {
    display: block;
    max-width: 335px;
    height: auto;
    margin-bottom: 14px;

    font-weight: 500;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.steps-description {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 44px;
    max-width: 335px;
    font-size: 14px;

    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.steps-content {
    margin-bottom: 44px;
}

.blocks {
    margin-bottom: 44px;
}

.steps-list {
    display: block;
    margin-bottom: 44px;
}

.steps-item {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 112px;
    margin-bottom: 20px;

    background-color: #FFFFFF;
    border-radius: 20px;
}

.steps-item:not(:last-child) {
    margin-bottom: 20px;
}

.oval-one {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 31.5px;
    margin-right: 14px;

    width: 136px;
    height: 48px;

    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 20px;

    border-radius: 200px;
    background-color: #AE1332;
}

.oval-two {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 12px 31.5px;
    margin-right: 14px;
    
    width: 136px;
    height: 48px;
    
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 20px;
    
    border-radius: 200px;
    background-color: #A1C864;
}

.oval-three {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 12px 31.5px;
    margin-right: 14px;
    
    width: 136px;
    height: 48px;
    
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 20px;
    
    border-radius: 200px;
    background-color: #F5CE13;
}

.number {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    
    
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.instruction {
    max-width: 145px;
    text-align: start;

    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    
    line-height: 18px;
    letter-spacing: -0.04em;
    
    color: #000000;
}

.image-container {}

.steps-image {
    position: absolute;
    width: 335px;
    height: 476px;
    border-radius: 20px;
}